/*Headings*/
h1 {
	color: red; 
	font-family: Raleway; 
	font-size: 30px;
}
a {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 18px; 
}
body {
	font-family: Raleway;
	color: dark;
	margin: 0;
	padding: 1rem;
}
