/*Estructura*/
*{ box-sizing: border-box; }

body {
	background-color: #f0f0f0;
	padding: 20px;
	margin-top: 35px;
}

section div {
	margin-bottom: 20px;
	margin-top:20px;
	padding: 10px 10px 10px 10px;
	background-color: #EAD9CA;
}

@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/*Headings*/

h1 {
	font-size: 14px;
    font-family: Raleway;
    padding-top: 50px;
	letter-spacing: 0em;
	color: #692B28;
	margin-top:60px;
	text-align: center;
}

h2 {
	color: #692B28;
	font-family: Raleway;
	font-size: 14px; 
}
h3 {
	color: #692B28;
	font-family: Raleway;
	font-size: 14px; 
}
h4 {
	color: #692B28;
	font-family: Raleway;
	font-size: 12px; 
}
/*imagenes*/
section main img {
	height: 814px;
	width: auto;
	background-size: cover;
	background-position: unset;
	background-attachment: fixed;
	object-position: inherit;
	z-index: 0;
}
section img {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 500px;
	width: 750px;
}
section main img {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 700px;
	width: auto;
	background-size: cover;
	background-position: unset;
	background-attachment: fixed;
	object-position: inherit;
	z-index: 0;
}
video {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 800px;
	width: 	auto ;
}
section div img {
	height: 450px;
	width: 600px;
	justify-content: center;
}
/*Texto*/

footer {
	color: #f0f0f0;
	font-family: Raleway; 
	font-size: 13px;
	margin: auto;
	margin-top:10px;
	padding: 20px;
	background-color: #692B28;
	text-align: center;
}
button {
	border: 20px;
	border-bottom: 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	width: max-content;
}

section div p {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 550;
	text-align: center;
	justify-content: center;
	align-content: center;
}
p {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
}
nav a {
	color: #4d3e3e;
	font-family: 'Quicksand';
	font-size: 15px; 
	text-decoration: none;
	text-decoration-color: none;
	text-align: center;
	align-content: center;
}
div a {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 16px; 
	font-weight: bolder;
	text-decoration: none;
	text-decoration-color: none;
	text-align: center;
	align-content: center;
	justify-content: center;
}
div a:hover {
	padding: 10px;
	background-color: #D1C1B4; 
	border-radius: 30px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	text-decoration: none;
	text-decoration-color: none;
}

div h2 {
	color: #692B28;
	font-family: 'Quicksand';
	font-size: 20px; 
	text-align: center;
}
div h3 {
	color: #692B28;
	font-family: Raleway;
	font-size: 20px; 
	font-weight: bolder;
	text-align: center;
}
div p {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 16px;
	text-align: center;
}
article h2 {
	font-family: Raleway;
	color: #692B28;
	font-size: 16px; 
	font-style: bold;
	font-weight: bolder;
	text-align: center;
}
article div p {
	font-family: Raleway;
	color: #4d3e3e;
	font-size: 14px; 
	text-align: center;
}
/*clases css*/

.header {
	font-family: 'Quicksand';
	font-weight: 300;
	background: rgb(255, 255, 255);
	color: white;
	padding: 5px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
.header a {
	color: black;
	text-decoration: none;
	padding: 2rem 0;
}
.logo {
	padding-right: 0px;
	height: 50px;
	width: 50px;
}

.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
}
.container {
	width: 100% ;
	max-width: 850px;
	margin: 0 auto;
	justify-content: space-between;
}
.color-gris {
	color: #4d3e3e;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 20px;
}

.main {
	margin-top: 30px;
	width: auto;
}
.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #4d3e3e;
	z-index: 1;
}
.navigation ul li {
	display: inline-block;
	padding: 5px;
	color: #4d3e3e;
	text-decoration: none;
}
.navigation ul li a {
	display: block;
	padding: 0.5rem 1rem;
	color: #4d3e3e;
	text-decoration: none;
}
.navigation ul li a:hover {
	background-color: #D1C1B4;
	border-radius: 30px;
	text-decoration: none;
	text-decoration-color: none;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.nav-button {
	display:none;
}
.transition {
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.button-send {
	font-family: 'Quicksand';
	background-color:  #D1C1B4; 
	border: 20px;
	border-bottom: 20px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	width: max-content;
	font-weight: 550;
}
.button-send:hover {
	background-color:  #B0A397; 
	font-weight: 580;
	padding: 5px 15px 5px 15px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	text-decoration: none;
	text-decoration-color: none;
}
.box-productos {
	margin-bottom: 50px;
	margin-top: 35px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	background-color: #EAD9CA;
	align-items: center;
	max-width: 100%;
}
.box-padre1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	flex-basis: auto;

}

.box-padre2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	flex-basis: auto;
	flex-direction: row-reverse;
}

.box-productos-hijo1 {
	align-content: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	border: 100px;
	margin-left: 100px;	
	margin-right: 100px;
	outline: 2px solid #D1C1B4;
	text-align: center;
}

.box-productos-hijo2 {
	align-items: center;
	justify-content: center;
	outline: 2px solid #D1C1B4;
}
.box-coleccion {
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	background-image: url(../imageneskhaus/portadacoleccion.jpg);
	background-size: cover;
	background-position: unset;
	background-attachment: fixed;
	object-position: inherit;
	z-index: 0;
}
.box-coleccion div p {
	font-family: 'Quicksand';
	margin-bottom: 50px;
	margin-top: 15px;
	padding: 10px 50px;
	font-size: 16px;
	background-color: none;
	color: white;
	z-index: 1;
}
.box-coleccion-hijo1 {
	align-content: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	border: 100px;
	margin-left: 100px;	
	margin-right: 100px;
	outline: 2px solid#D1C1B4;
	text-align: center;
}

.box-coleccion-hijo2 {
	align-items: center;
	justify-content: center;
	outline: 2px solid #D1C1B4;
}
.box-nosotros {
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	background-image: url(../imageneskhaus/portadanosotros.jpg);
	background-size: cover;
	background-position: unset;
	background-attachment: fixed;
	object-position: inherit;
	z-index: 0;
}
.box-nosotros div p {
	font-family: 'Quicksand';
	margin-bottom: 50px;
	margin-top: 15px;
	padding: 10px 50px;
	font-size: 16px;
	background-color: none;
	color: white;
	z-index: 1;
}
.box-procesos {
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
	height: auto;
	width: auto;
	background-image: url(../imageneskhaus/portadaprocesos.jpg);
	background-size: cover;
	background-position: unset;
	background-attachment: fixed;
	object-position: inherit;
}
.box-procesos div p {
	font-family: 'Quicksand';
	margin-bottom: 50px;
	margin-top: 15px;
	padding: 10px 50px;
	font-size: 16px;
	background-color: none;
	color: #ffffff;
	z-index: 1;
}
.box-nosotros-hijo1 {
	align-content: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	border: 100px;
	margin-left: 100px;	
	margin-right: 100px;
	outline: 2px solid#D1C1B4;
	text-align: center;
}

.box-nosotros-hijo2 {
	align-items: center;
	justify-content: center;
	outline: 2px solid#D1C1B4;
}
.box-procesos-hijo1 {
	align-content: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
	border: 100px;
	margin-left: 100px;	
	margin-right: 100px;
	outline: 2px solid #D1C1B4;
	text-align: center;
}
.box-procesos-hijo2 {
	align-items: center;
	justify-content: center;
	outline: 2px solid #D1C1B4;
}
.box-contacto {
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	align-content: left;
	text-align: left;
	background-color: #EAD9CA
}
.box-contacto-padre {
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	height: auto;
	width: auto;
	align-content:center;
	text-align: center;
	background-color: #EAD9CA
}

.article-layout  {
	margin-top: 35px;
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 50px;
	grid-template-columns: 6fr 6fr;
	grid-template-rows: auto;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 10px 10px 10px 10px;
}

.article-layout article {
	margin-top: 35px;
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 100px auto;
	grid-auto-rows: 100px auto;
	padding: 10px;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.img-wrapper {
	display: block;
	overflow: hidden;
	height: 400px;
	width: 400px;
}
.img-wrapper img {
	padding: 10px;
	padding: 0px;
	height: 350px;
	width: 350px;

}
.precio {
	padding: 10px;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	font-family: 'Quicksand';
	font-size: 15px; 
	text-decoration: none;
}
.article-body {
	margin-bottom: 20px;
	height: auto;
	width: auto;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.icon-mail {
	height: 30px;
	width: 30px;
}
.social {
	height: auto;
	width: auto;
	text-decoration: none;
	padding: 20px;
}
.social a:hover{
	padding: 10px;
	background-color: #D1C1B4; 
	border-radius: 30px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	text-decoration: none;
	text-decoration-color: none;
}
@media only screen and  (max-width: 992px) {
	.header {
		margin-left: 0px;
	}
	.main {
		margin-left: 0px;
		display: block;
		width: auto;
	}
	.main-img{
		margin-left: 0px;
		display: block;
		max-height: 400px;
		max-width: 700px;
	}
}
@media only screen and (max-width : 767px) {

	.header {
		margin-left: 0px;
	}
	.main {
		margin-left: 0px;
		display: block;
		width: auto;
	}
	.main-img{
		margin-left: 0px;
		display: block;
		max-height: 400px;
		max-width: 700px;
	}
	.box-padre1 {
		font-size: 10px;
		display: block;
		justify-content: space-between;
		align-items: center;
		width: auto;
		height: auto;
	}
	.box-padre2 {
		font: 10px;
		display: block;
		justify-content: space-between;
		align-items: center;
		width: auto;
		height: auto;
	}
	.article-layout  {
		margin-top: 35px;
		margin-bottom: 35px;
		display: block;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.logo-nav-container {
		display: inline-block;
		height: auto;
		width: auto;
		max-width: 100%;
		justify-content: space-between;
	}

}
@media screen and (max-width: 576px) {
	.header {
		margin-left: 0px;
	}
	.main {
		margin-left: 0px;
		display: block;
		width: auto;
	}
	.main-img{
		margin-left: 0px;
		display: block;
		max-height: 400px;
		max-width: 700px;
	}
	.box-padre1 {
		font-size: 10px;
		display: block;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
	}
	.box-padre2 {
		font: 10px;
		display: block;
		justify-content: center;
		align-items: center;
		width: auto;
		height: auto;
  }
	.article-layout  {
		margin-top: 20px;
		display: block;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
}